nav.sheet-navigation {
    background: var(--secondary);
    background: url('../assets/sheet/border-pattern.png') repeat-x top,
        url('../assets/sheet/border-pattern.png') repeat-x bottom,
        var(--secondary);
    @include corner-boxes;
    position: relative;
    overflow: hidden;
    height: 40px;

    .nav-items {
        @include p-reset;
        height:  calc(100% * 18);
        width: 40px;
        transform: rotate(-90deg) translateY(-30px);
        transform-origin: right top;
        overflow: hidden auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }


        li {
            display: flex;
            justify-content: center;
            transform: rotate(90deg);
            transform-origin: right top;
            padding: 2rem;
            margin-left: 0.45rem;

            &:first-child {
                margin-top: 22rem;
            }
        }

        a {
            display: inline-flex;
            color: $sidebar-label;
            padding: 4px;
            font-family: $sans-serif;
            font-size: 12px;

            &.active {
                color: white;
            }

            .fas {
                margin-right: 4px;
            }
        }
    }
}
